<!doctype html>
<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Polymer Starter Kit" />
  <title>Projecte</title>
  <!-- Place favicon.ico in the `app/` directory -->

  <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="#2E3AA1">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Tile color for Win8 -->
  <meta name="msapplication-TileColor" content="#3372DF">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="PSK">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">
  <script src="//tinymce.cachefly.net/4.3/tinymce.min.js"></script>

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="../css/main.css">
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
  <script src="../vendor/webcomponentsjs/webcomponents-lite.js"></script>
  <!-- endbuild -->

  <!-- will be replaced with elements/elements.vulcanized.html -->
  <link rel="import" href="../elements/elements.html">
  <!-- endreplace-->
  <script src="//tinymce.cachefly.net/4.3/tinymce.min.js"></script>

  <!-- For shared styles, shared-styles.html import in elements.html -->
  <style is="custom-style" include="shared-styles"></style>

</head>

<body unresolved class="fullbleed layout vertical">
  <span id="browser-sync-binding"></span>
  <template is="dom-bind" id="app">

    <paper-drawer-panel id="paperDrawerPanel">
      <!-- Drawer Scroll Header Panel -->
      <paper-scroll-header-panel drawer fixed>

        <!-- Drawer Toolbar -->
        <paper-toolbar id="drawerToolbar" class="menu_title">
          <span class="paper-font-title">Menu</span>
        </paper-toolbar>

        <!-- Drawer Content -->
        <paper-menu class="list" attr-for-selected="data-route" selected="[[route]]">
          <a data-route="home" href="/" on-click="onDataRouteClick">
            <iron-icon icon="home"></iron-icon>
            <span>Portal</span>
          </a>

          <a data-route="users" href="/forum" on-click="onDataRouteClick">
            <iron-icon icon="info"></iron-icon>
            <span>Foro</span>
          </a>

          <a data-route="users" href="/admin" on-click="onDataRouteClick">
            <iron-icon icon="dashboard" style="fill:blue"></iron-icon>
            <span>Admin</span>
          </a>

          <template is="dom-if" if="{{user_logged}}">
          <a data-route="users" href="/admin" on-click="onDataRouteClick">
            <iron-icon icon="add-circle" style="fill:blue"></iron-icon>
            <span>Admin - Add Article</span>
          </a>

          <a data-route="users" href="/admin_users" on-click="onDataRouteClick">
            <iron-icon icon="account-circle" style="fill:blue"></iron-icon>
            <span>Admin - Users</span>
          </a>

          <a data-route="users" href="/admin_forum" on-click="onDataRouteClick">
            <iron-icon icon="assignment-turned-in" style="fill:blue"></iron-icon>
            <span>Admin - Foro</span>
          </a>
          </template>

        </paper-menu>
      </paper-scroll-header-panel>

      <!-- Main Area -->
      <paper-scroll-header-panel fixed main condenses keep-condensed-header>

        <!-- Main Toolbar -->
        <paper-toolbar id="mainToolbar">
          <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>
          <span class="flex"></span>

          <!-- Toolbar icons -->
          <template is="dom-if" if="{{user_logged}}">
            <paper-icon-button icon="question-answer"></paper-icon-button>
          </template>

          <template is="dom-if" if="{{user_logged}}">
            <paper-icon-button icon="settings-power"></paper-icon-button>
          </template>

          <template is="dom-if" if="{{user_logged}}">
            <paper-icon-button icon="verified-user"></paper-icon-button>
          </template>

          <template is="dom-if" if="{{!user_logged}}">
            <paper-icon-button icon="perm-identity"></paper-icon-button>
          </template>


          <paper-icon-button icon="search"></paper-icon-button>
        </paper-toolbar>

        <!-- Main Content -->
        <div class="content">
          <iron-pages id="pages" attr-for-selected="data-route" selected="{{route}}">
            <!-- portal -->
            <section data-route="portal">
              <portal-app></portal-app>
              <paper-fab icon="add"></paper-fab>
            </section>
            <!-- article -->
            <section data-route="articles">
              <noticia-completa articleid="{{params.id}}"></noticia-completa>
            </section>
            <!-- tema -->
            <section data-route="tema">
              <forum-tema tema="{{params.id}}">
              </forum-tema>
            </section>
            <!-- seccio -->
            <section data-route="seccio">
              <forum-categoria seccio="{{params.id}}">
              </forum-categoria>
            </section>
            <!-- foro -->
            <section data-route="foro">
              <forum-app></forum-app>
            </section>
            <!-- admin general -->
            <section data-route="admin">
              <template is="dom-if" if="{{user_logged}}">
                <add-article></add-article>
              </template>

              <template is="dom-if" if="{{!user_logged}}">
                <admin-login></admin-login>
              </template>
            </section>
            <!-- edit user -->
            <section data-route="edit_user">
              <edit-user iduser="{{params.id}}"></edit-user>
            </section>
            <!-- admin foro -->
            <section data-route="admin_forum">
              <template is="dom-if" if="{{user_logged}}">
                <admin-forum></admin-forum>
              </template>

              <template is="dom-if" if="{{!user_logged}}">
                <admin-login></admin-login>
              </template>
            </section>
            <!-- admin users -->
            <section data-route="admin_users">
              <template is="dom-if" if="{{user_logged}}">
                <admin-users></admin-users>
              </template>

              <template is="dom-if" if="{{!user_logged}}">
                <admin-login></admin-login>
              </template>
            </section>
            <!-- add tema -->
            <section data-route="add_tema">
              <forum-add-tema seccio="{{params.seccio}}"></forum-add-tema>
            </section>
          </iron-pages>
        </div>
      </paper-scroll-header-panel>
    </paper-drawer-panel>

  </template>

  <script>

    //app.ready = true;
  </script>

  <!-- build:js scripts/app.js -->
  <script src="js/app.js"></script>
  <!-- endbuild-->
</body>

</html>
