<dom-module id="noticia-view">
  <template>
    <style>
		:host {
		  display: block;
		}

		paper-material {
		  min-height: 400px;
		  max-width: 800px;
		  margin: 16px auto;
		  background-color: #fff;
		}
    .title {
      font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .article {
      padding: 20px;
      height: 100%;
    }
    .acciones {
      position: absolute;
      bottom: 0px;
    }
    .accio_view_article {
      background: #4285f4;
      color: #fff;
    }
    .inherit {
      color: inherit;
      background-color: inherit;
      text-decora
      .tion: none;
    }
    .responsive-img {
      width: 100%;
    }
    .categories {
      color: #004D40;
      margin: 15px 0;
      font-size: 12px;
    }
    .categoria_elem {
      margin-right: 10px;
    }
    .categoria_icon {
      --iron-icon-height: 15px;
      --iron-icon-width: 15px;
      margin: 10px;
      margin-right: 10px;
    }
    .imatge {
      position:relative;
    }
    .not_completa {
      position: absolute;
      right: 50px;
      bottom: -15px;
    }
    </style>
   
    <paper-material>
      <!-- Imatge -->
      <div class="imatge">
        <paper-fab class="not_completa" icon="arrow-forward"></paper-fab>
        <img class="responsive-img" src="http://estaticos02.elmundo.es/elmundomotor/imagenes/2013/04/01/coches/1364819973_1.jpg">
      </div>
      <div class="article">
        <!-- categories -->
        <div class="layout horizontal categories">
          <iron-icon class="categoria_icon" icon="alarm"></iron-icon>
          <p class="categoria_elem">categoria 1</p> 
          <p class="categoria_elem">categoria 2</p>
        </div>
        <!-- titol -->
        <div class="title">
          <h1>{{article.title}}</h1>
        </div>

        <!-- contingut -->
        <div class="content">
          <p>
            {{article.content}}
          </p>
        </div>

        <!-- accions -->
        <div class="aaciones">
          <paper-button raised class="flex accio_view_article" link="/articles/{{article.id}}">
             <a href="/articles/{{article.id}}" class="inherit">Ver Articulo</a>
          </paper-button>
        </div>
      </div>
    </paper-material>

  </template>

  <script>
    Polymer({
      is: 'noticia-view',
      properties: {
        article: Object
      }
    });
  </script>

</dom-module>
