<dom-module id="forum-missatge">
  <template>
    <style>
    paper-material {
      padding: 5px;
      margin: 16px auto;
      background-color: #fff;
    }
    </style>

    <paper-material elevation="3">
      <div vertical layout>
      	<paper-chip>
		  <iron-icon class="icon" src="https://s3.amazonaws.com/uifaces/faces/twitter/low_res/128.jpg"></iron-icon>
		  <h1>Nom Usuari</h1>
		  <h2>usuari@lol.com</h2>
		</paper-chip>
		<hr></hr>
      </div>

      <div id="missatge"></div>
    </paper-material>

  </template>

  <script>
    Polymer({
      is: 'forum-missatge',   
      properties: {
        missatge: Object
      },
      ready: function(){
      	this.$.missatge.innerHTML = this.missatge.content;
      }
    });
  </script>

</dom-module>
