<dom-module id="forum-tema">
  <template>
    <style>
    paper-material {
      padding: 5px;
      margin: 16px auto;
      background-color: #fff;
    }
    .accio {
      position: absolute;
      top: -25px;
      right: 25px;
    }
    .tema {
      padding: 5px;
    }
    </style>

    <iron-ajax
        id="ajax"
        auto
        url="/api/temas/{{tema}}"
        content-type='application/json'
        method="GET"
        on-response="hresponse_temes">
    </iron-ajax>

    <iron-ajax
        id="ajax"
        auto
        url="/api/temas/{{tema}}/messages"
        content-type='application/json'
        method="GET"
        on-response="hresponse">
    </iron-ajax>

    <div class="tema">

    <paper-material>
      <div class="vertical layout">
        <h1>{{temaDades.title}}</h1>
        <hr></hr>
        <div id="contingut_tema"></div>
      </div>

    <paper-fab-speed-dial class="accio">
      <paper-fab icon="add" class="dropdown-trigger"></paper-fab>
      <div class="dropdown-content">
        <paper-fab mini icon="star-border"></paper-fab>
        <paper-fab mini icon="star-half"></paper-fab>
        <paper-fab mini icon="star"></paper-fab>
      </div>
    </paper-fab-speed-dial>

    </paper-material>

    <h1>Respostes</h1>

    <forum-llista-missatges missatges="{{missatges}}"></forum-llista-missatges>

    <forum-respondre tema="{{tema}}"></forum-respondre>

    </div>

  </template>

  <script>
    Polymer({
      is: 'forum-tema',
      properties: {
        tema: String,
        temaDades: Object,
        missatges: Array
      },
      ready: function(){
        this.addEventListener('nou_missatge', function (e) {
          this.missatges = this.$.ajax.generateRequest();
        });
      },      
      hresponse_temes: function(request){
        this.temaDades = request.detail.response;
        this.$.contingut_tema.innerHTML = this.temaDades.content;
      },
      hresponse: function(request) {
        this.missatges = request.detail.response;
        console.log(request.detail.response);
      }        
    });
  </script>

</dom-module>
