<dom-module id="admin-login">
  <template>
    <style>
		:host {
		  display: block;
		}
		paper-material {
		  height: 400px;
		  max-width: 800px;
		  margin: 16px auto;
		  background-color: #fff;
		}
    .container {
      padding: 20px;
    }
    </style>

    <iron-ajax
        id="ajax"
        url="/api/Customers/login"
        content-type='application/json'
        method="POST"
        on-response="hresponse">
    </iron-ajax>

    <paper-material>
      <div class="container">
        <div class="vertical layout flex">
          <paper-input id="email" flex label="Usuari"></paper-input>
          <paper-input type="password" id="password" flex label="Password"></paper-input>
          <paper-button on-tap="_login">Login</paper-button>
        </div>
      </div>
    </paper-material>

  </template>

  <script>
    Polymer({
      is: 'admin-login',
      _login: function() {
        email = this.$.email.value;
        password = this.$.password.value;
        this.$.ajax.body = {"email":email, "password": password};
        this.$.ajax.generateRequest();
      },
      hresponse: function(request) {
        if (request.code){
            alert(request.code); //codi error
        }
        else{
          var app = document.querySelector('#app');
          app.user_logged = true; //usuari a entrat amb exit
          access_token = request.detail.response.id;
        }

        console.log(JSON.stringify(request.detail.response));
        console.log(JSON.stringify(this.$.ajax.lastResponse));
      },
      handleCrudCompleted: function(r){
        console.log("lol"+r);
      },
      handleCrudError: function(r){
        console.log("lool"+r);
      }
    });
  </script>

</dom-module>
