<dom-module id="forum-categories">
  <template>
    <style>
      :host {
        display: block;
      }
      .question {
        padding: 20px;
        background: #fff;
      }
      .question h3 {
        margin: 0;
      }
      .question h3 a {
        color: #333;
        text-decoration: none;
      }
      .question h3 a:hover {
        color: #3F51B5;
      }
      .question .user {
        padding-right: 20px;
      }
      .question .user img {
        border-radius: 50%;
      }
      .question .details {
      }
      .question .details p {
        color: #616161;
        margin: 8px 0;
      }
      .question .metadata {
        font-size: 12px;
        color: #BDBDBD;
      }
      .question .metadata a {
        color: #616161;
        border-bottom: 1px solid #eee;
        text-decoration: none;
      }
      .ask-question {
        padding: 20px;
        text-align: center;
      }
    </style>

    <iron-ajax
        id="ajax"
        auto
        url="/api/sections/{{seccio}}/subsections"
        content-type='application/json'
        method="GET"
        on-response="hresponse_seccions">
    </iron-ajax>

    <!--
    <template is="dom-repeat" items="{{seccions}}">
      <forum-categoria categoria="{{item}}"></forum-cetagoria>
    </template>
    -->

    <template is="dom-repeat" items="{{seccions}}">
      <paper-shadow z="1">
        <div class="question">
          <div class="layout horizontal center">
            <div class="user">
              <img width="40" src="../../../img/logo.jpg">
            </div>
            <div class="details flex">
              <h3><a href="seccio/{{item.id}}">{{item.name}}</a></h3>
              <p>{{item.description}}</p>
              <span class="metadata">ultim tema per by <a href="">user</a> &bull; titol tema</span>
            </div>
            <div class="view">
              <paper-icon-button icon="arrow-forward" title="View Question"></paper-icon-button>
            </div>
          </div>
        </div>
      </paper-shadow>
    </template>
  </template>

  <script>
    Polymer({
      is: 'forum-categories',
        properties: {
          seccio: String,
          seccions: {
            type: Array
          }
        },
        hresponse_seccions: function(request){
          //console.log(request.detail.response);
          this.seccions = request.detail.response;
        }
    });
  </script>

</dom-module>
