<dom-module id="admin-users">
  <template>
    <style>
		:host {
		  display: block;
		}
		paper-material {
		  margin: 16px auto;
		  background-color: #fff;
		}
    .container {
      padding: 20px;
    }
    </style>

    <paper-material>
      <paper-tabs selected="{{selected}}">
        <paper-tab>Registrar Usuari</paper-tab>
        <paper-tab>Usuaris</paper-tab>
      </paper-tabs>

      <iron-pages selected="{{selected}}">
        <div class="container">
          <usuari-registre></usuari-registre>
        </div>
        <div class="container">
          <crud-user></crud-user>
        </div>
      </iron-pages>
    </paper-material>

  </template>

  <script>
    Polymer({
      is: 'admin-users',
      ready: function(){
        this.selected = 1;
      }
    });
  </script>

</dom-module>
