<dom-module id="forum-sub-categoria">
  <template>
    <style>
    :host {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
    }
    :host::content > img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    :host::content > span {
      font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
      margin: 16px;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }
    :host::content > iron-icon {
      color: #9E9E9E;
    }
    [hidden] {
      display: none;
    }
    .container {
      @apply(--layout-horizontal);
    }
    .flexchild {
      @apply(--layout-flex);
    }
    .flex2child {
      @apply(--layout-flex-2);
    }
    .flex3child {
      @apply(--layout-flex-10);
    }
    .sub_categoria {
      width: 100%;
    }
    .no_temes {
      text-align: center;
    }
    </style>

    <iron-ajax
        id="ajax"
        auto
        url="/api/subsection/{{categoria.id}}/temas"
        content-type='application/json'
        method="GET"
        on-response="hresponse_temes">
    </iron-ajax>

    <!-- sub categoria -->
    <paper-card class="sub_categoria">
      <div class="card-content">
      <div class="missatge layout-vertical flex">
        <div>
          <p><b>Descripció:</b> {{categoria.description}} </p>
        </div>

        <template is="dom-if" if="{{!mostrar}}"> 
            <div class="horizontal layout wrap" style="width: 100%">
              <div class="flex"></div>
              <div class="flex no_temes"><h3>No hi han temes</h3></div>
              <dif class="flex"></dif>
            </div>
        </template>

        <template is="dom-if" if="{{mostrar}}"> 
          <div class="vertical layout wrap" style="width: 100%">
            <h5>Ultims Temes:</h5>

            <template is="dom-repeat" items="{{temes}}">
              <tema-little starred tema="{{item.id}}">
                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/low_res/128.jpg" alt="perfil">
                <span>{{item.title}}</span>
              </tema-little>
            </template>

          </div>
        </template>

      </div>
      </div>
      <div class="card-actions">
        <a data-route="add_tema" href="/forum/{{categoria.id}}/add_tema" on-click="onDataRouteClick">
        <paper-button>
          Nou tema
        </paper-button>
        </a>
      </div>
    </paper-card>

  </template>

  <script>
    Polymer({
      is: 'forum-sub-categoria',
        properties: {
          categoria: {
            type: Object
          },
          temes: {
            type: Array
          },
          mostrar: Boolean
        },
        hresponse_temes: function(request){
          console.log(request.detail.response);
          this.temes = request.detail.response;

          this.mostrar = (this.temes.length > 0)
        }
    });
  </script>

</dom-module>
