
<dom-module id="tema-little">
  <style>
    :host {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
    }
    :host::content > img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    :host::content > span {
      font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
      margin: 16px;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }
    :host::content > iron-icon {
      color: #9E9E9E;
    }
    [hidden] {
      display: none;
    }
  </style>
  <template>
    <content></content>
    <a href="/tema/{{tema}}">
      <paper-icon-button icon="arrow-forward"></paper-icon-button>
    </a>
  </template>
  <script>
    Polymer({
      is: 'tema-little',
      properties: {
        starred: Boolean,
        tema: String,
        seccio: String
      }
    });
  </script>
</dom-module>
