<!-- shared styles for all elements and index.html -->
<dom-module id="shared-styles">
  <template>
    <style>
      #pages {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
      paper-header-panel {
          height: 100%
      }
      .page-title {
        @apply(--paper-font-display2);
      }
      body, html {
          height: 100%
          margin: 0
      }
      @media (max-width: 600px) {
        .page-title {
          font-size: 24px!important;
        }
      }
    </style>
  </template>
</dom-module>
