<dom-module id="edit-user">
  <template>
    <style>
		:host {
		  display: block;
		}
    .container {
      padding: 20px;
    }
    paper-material {
		  max-width: 800px;
		  margin: 16px auto;
		  background-color: #fff;
		}
    </style>

    <iron-ajax
        id="ajax"
        auto
        url="/api/Customer/{{iduser}}"
        content-type='application/json'
        method="GET"
        on-response="hresponse">
    </iron-ajax>
    <paper-material>
      <div class="container">
        <div class="vertical layout flex">
          <paper-input id="email" flex label="Email"></paper-input>
          <paper-input id="password" flex label="Password"></paper-input>
          <paper-input id="nom" flex label="Nom"></paper-input>
          <paper-input id="cognom" flex label="Cognom"></paper-input>
          <paper-input id="telefon" flex label="Telefon"></paper-input>
          <paper-input id="username" flex label="Username"></paper-input>
          <paper-button on-tap="_registre">Edit</paper-button>
        </div>
      </div>
    </paper-material>
  </template>

  <script>
    Polymer({
      is: 'edit-user',
      properties: {
        iduser: String
      },
      delete: function(e, detail){
        alert("delete");
      },
      hresponse: function(request){
        this.data = request.detail.response;
        console.log("user a editar:"+this.data);
      },
      ready: function () {
      }
    });
  </script>

</dom-module>
