<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->


<!-- Iron elements -->
<link rel="import" href="../vendor/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../vendor/iron-icon/iron-icon.html">

<link rel="import" href="../vendor/iron-icons/iron-icons.html">
<link rel="import" href="../vendor/iron-pages/iron-pages.html">
<link rel="import" href="../vendor/iron-selector/iron-selector.html">
<link rel="import" href="../vendor/iron-ajax/iron-ajax.html">

<!-- Paper elements -->
<link rel="import" href="../vendor/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../vendor/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../vendor/paper-item/paper-item.html">
<link rel="import" href="../vendor/paper-material/paper-material.html">
<link rel="import" href="../vendor/paper-menu/paper-menu.html">
<link rel="import" href="../vendor/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../vendor/paper-styles/paper-styles-classes.html">
<link rel="import" href="../vendor/paper-styles/paper-styles.html">
<link rel="import" href="../vendor/paper-toast/paper-toast.html">
<link rel="import" href="../vendor/paper-toolbar/paper-toolbar.html">

<link rel="import" href="../vendor/iron-image/iron-image.html">
<link rel="import" href="../vendor/paper-fab/paper-fab.html">
<link rel="import" href="../vendor/paper-card/paper-card.html">
<link rel="import" href="../vendor/paper-button/paper-button.html">
<link rel="import" href="../vendor/paper-input/paper-input.html">
<link rel="import" href="../vendor/paper-input/paper-textarea.html">

<link rel="import" href="../vendor/paper-tabs/paper-tabs.html">

<link rel="import" href="../vendor/neon-animation/neon-animated-pages.html">
<link rel="import" href="../vendor/neon-animation/neon-animations.html">
<link rel="import" href="../vendor/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../vendor/neon-animation/animations/slide-from-left-animation.html">
<link rel="import" href="../vendor/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="../vendor/neon-animation/neon-shared-element-animatable-behavior.html">

<link rel="import" href="../vendor/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../vendor/paper-typeahead-input/paper-typeahead-input.html">
<link rel="import" href="../vendor/paper-tags-input/paper-tags-input.html">

<link rel="import" href="../vendor/sweet-material-table/sweet-material-table.html">
<link rel="import" href="../vendor/iron-list/iron-list.html">

<link rel="import" href="../vendor/polymer-tinymce/polymer-tinymce.html">

<link rel="import" href="../vendor/paper-chip/paper-chip.html">
<link rel="import" href="../vendor/paper-fab-transitions/paper-fab-speed-dial.html">

<link rel="import" href="../vendor/medium-editor-polymer/medium-editor-polymer.html">

<!-- Uncomment next block to enable Service Worker Support (2/2) -->
<!--
<link rel="import" href="../vendor/platinum-sw/platinum-sw-cache.html">
<link rel="import" href="../vendor/platinum-sw/platinum-sw-register.html">
-->

<!-- Configure your routes here -->
<link rel="import" href="../elements/routing.html">

<!-- extras -->
<link rel="import" href="../vendor/paper-datatable/paper-datatable.html">
<link rel="import" href="../vendor/paper-datatable/paper-datatable-card.html">
<link rel="import" href="../vendor/paper-datatable/paper-datatable.html">
<link rel="import" href="../vendor/paper-datatable/paper-datatable-column.html">
<link rel="import" href="../vendor/paper-datatable/paper-datatable-edit-dialog.html">
<link rel="import" href="../vendor/paper-datatable/paper-datatable-styles.html">


<!-- Add your elements here -->
<link rel="import" href="../css/app-theme.html">
<link rel="import" href="../css/shared-styles.html">

<!-- elements propis de la app -->
<link rel="import" href="../elements/portal/portal-app.html">
<link rel="import" href="../elements/llistat-noticies/llistat-noticies.html">
<link rel="import" href="../elements/noticia/noticia-view.html">
<link rel="import" href="../elements/noticia-completa/noticia-completa.html">
<link rel="import" href="../elements/add-article/add-article.html">

<!-- elements admin -->
<link rel="import" href="../elements/admin/admin-login/admin-login.html">
<link rel="import" href="../elements/admin/admin-users/admin-users.html">
<link rel="import" href="../elements/admin/usuari-registre/usuari-registre.html">
<link rel="import" href="../elements/admin/crud-user/crud-user.html">
<link rel="import" href="../elements/admin/admin-forum/admin-forum.html">
<link rel="import" href="../elements/admin/admin-forum/admin-forum-seccions/admin-forum-seccions.html">
<link rel="import" href="../elements/admin/admin-forum/admin-forum-temes/admin-forum-temes.html">
<link rel="import" href="../elements/admin/admin-forum/admin-add-seccio/admin-add-seccio.html">
<link rel="import" href="../elements/admin/edit-user/edit-user.html">

<!-- forum elements -->
<link rel="import" href="../elements/forum/forum-app/forum-app.html">
<link rel="import" href="../elements/forum/forum-categories/forum-categories.html">
<link rel="import" href="../elements/forum/forum-categoria/forum-categoria.html">
<link rel="import" href="../elements/forum/forum-missatge/forum-missatge.html">
<link rel="import" href="../elements/forum/forum-llista-missatges/forum-llista-missatges.html">
<link rel="import" href="../elements/forum/forum-respondre/forum-respondre.html">
<link rel="import" href="../elements/forum/forum-sub-categoria/forum-sub-categoria.html">
<link rel="import" href="../elements/forum/forum-add-tema/forum-add-tema.html">
<link rel="import" href="../elements/forum/forum-tema/forum-tema.html">
<link rel="import" href="../elements/forum/forum-sub-categoria/tema-little.html">
<link rel="import" href="../elements/forum/forum-seccions/forum-seccions.html">
