<dom-module id="login-admin">
  <template>
    <style>
    :host {
      display: block;
    }
    .fixed {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #ffff8d;
    }
    .container {
      @apply(--layout-horizontal);
      @apply(--layout-center-justified);
    }
    </style>

    <div id="container" class="flex vertical layout fixed">
      <div class="vertical layout flex">
        <div class="container">
          <paper-input id="email" flex-3 label="Usuari"></paper-input>
        </div>

        <div class="container">
          <paper-input id="password" flex label="Password"></paper-input>
        </div>

        <div class="container">
          <paper-button on-tap="_login">Login</paper-button>
        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'login-admin',
      backAction: function() {
        lol = document.querySelector('#pages');
        lol.selected = 0;
      },

    });
  </script>

</dom-module>
