<script src="../vendor/page/page.js"></script>
<script>
  window.addEventListener('WebComponentsReady', function() {

    // We use Page.js for routing. This is a Micro
    // client-side router inspired by the Express router
    // More info: https://visionmedia.github.io/page.js/

    // Middleware
    function scrollToTop(ctx, next) {
      app.scrollPageToTop();
      next();
    }

    // Routes
    page('/', scrollToTop, function() {
      app.route = 'portal';
    });

    page('/portal', scrollToTop, function() {
      app.route = 'portal';
    });

    page('/articles/:id',scrollToTop, function(data) {
      app.route = 'articles';
      app.params = data.params;
    });

    page('/seccio/:id',scrollToTop, function(data) {
      app.route = 'seccio';
      app.params = data.params;
    });

    page('/forum', scrollToTop, function() {
      app.route = 'foro';
    });

    page('/forum/:seccio/add_tema', scrollToTop, function(data) {
      app.params = data.params;
      app.route = 'add_tema';
    });

    page('/tema/:id', scrollToTop, function(data) {
      app.params = data.params;
      app.route = 'tema';
    });

    page('/login', scrollToTop, function() {
      app.route = 'login';
    });

    page('/registre', scrollToTop, function() {
      app.route = 'registre';
    });

    //admin

    page('/admin', scrollToTop, function() {
      app.route = 'admin';
    });

    page('/admin/edit_user/:id', scrollToTop, function(data) {
      app.route = 'edit_user';
      app.params = data.params;
    });

    page('/admin_users', scrollToTop, function() {
      app.route = 'admin_users';
    });

    page('/admin_forum', scrollToTop, function() {
      app.route = 'admin_forum';
    });

    // add #! before urls
    page({
      hashbang: true
    });

  });
</script>
