<dom-module id="forum-app">
  <template>
    <style>
    .avatar {
      height: 40px;
      width: 40px;
      border-radius: 20px;
      box-sizing: border-box;
      background-color: #DDD;
    }
    :host {
      display: block;
    }
    paper-material {
      padding: 5px;
      margin: 16px auto;
      background-color: #fff;
    }
    .container {
      @apply(--layout-horizontal);
    }
    .flexchild {
      @apply(--layout-flex);
    }
    .flex2child {
      @apply(--layout-flex-2);
    }
    .flex3child {
      @apply(--layout-flex-10);
    }
    .lool {
      content: '';
      width: 60px;
      height: 2px;
      background: #c7cacb;
      position: absolute;
      top: 25px;
      left: -55px;
    }
    </style>

    <div class="layout-vertical flex">
      <forum-seccions></forum-seccions>
    </div>

  </template>

  <script>
    Polymer({
      is: 'forum-app'
    });
  </script>

</dom-module>
