<dom-module id="forum-respondre">
  <template>
    <style>
    </style>

    <iron-ajax
        id="ajax"
        url="/api/temas/{{tema}}/messages"
        content-type='application/json'
        method="POST"
        on-response="hresponse">
    </iron-ajax>
    <div id="resposta">
      <textarea id="resposta_edit"></textarea>
    </div>

    <paper-button tabindex="0" on-click="respon"> Respon </paper-button>

  </template>

  <script>
    Polymer({
      is: 'forum-respondre',
      properties: {
        mostrar: {
          type: Boolean,
          value: false
        },
        tema: String
      },
      ready: function(){
        this.$.resposta.hidden = true;
      },
      respon: function(){
        this.$.resposta.hidden = false;

        if(!this.mostrar){
          this.mostrar = true;
          tinymce.init({
            selector: "#resposta_edit",
            height: 500,
            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            content_css: '//www.tinymce.com/css/codepen.min.css'
          });
        }
        else{
          content = tinyMCE.get('resposta_edit').getContent();
          this.$.ajax.params = {"content":content, "title": "lol"};
          this.$.ajax.body = {"content":content, "title": "lol"};
          this.$.ajax.generateRequest();
        }
      },
      hresponse: function(request) {
      	this.fire('nou_missatge');
      	tinyMCE.get('resposta_edit').setContent("");
        //console.log(request.detail.response);
      }      
    });
  </script>

</dom-module>
