<dom-module id="admin-forum-seccions">
  <template>
    <style>
    :host {
  	  display: block;
  	}
    .container {
      padding: 20px;
    }
    </style>

    <iron-ajax
        id="ajax"
        auto
        url="/api/sections"
        content-type='application/json'
        method="GET"
        on-response="hresponse">
    </iron-ajax>

    <paper-datatable-card id="datatableCardSeccions" header="CRUD seccions" page-size="10" data-source="{{data}}" id-property="i" selected-ids="{{selectedIds}}">
      <div toolbar-main>
      	<paper-icon-button icon="add" on-tap="addNew"></paper-icon-button>
      </div>
      <div toolbar-select>
      	<paper-icon-button icon="delete"></paper-icon-button>
      </div>
      <paper-datatable selectable multi-selection>
        <paper-datatable-column header="Imatge">
          <template>
            <div>
              <img width="40" src="http://localhost:3000/img/logo.jpg" class="style-scope forum-seccions">
            </div>
          </template>
        </paper-datatable-column>
        <paper-datatable-column header="Title" property="title" tooltip="title" editable sortable></paper-datatable-column>
      	<paper-datatable-column header="Description" property="description" tooltip="description" editable sortable></paper-datatable-column>
      </paper-datatable>
    </paper-datatable-card>

  </template>

  <script>
    Polymer({
      is: 'admin-forum-seccions',
      hresponse: function(request){
        this.data = request.detail.response;
      },
      ready: function () {
        this.data = {
          get: function(sort, page, pageSize){
  					return new Promise(function(resolve, reject){
  						var httpRequest = new XMLHttpRequest();
  						httpRequest.onreadystatechange = function() {
  							if (httpRequest.readyState === XMLHttpRequest.DONE) {
  								if (httpRequest.status === 200) {
  									var result = JSON.parse(httpRequest.responseText);
  									resolve(result);
  								}
  							}
  						};
  						httpRequest.open('GET', 'api/sections');
  						httpRequest.send();
  					});
  				},
  				// none of the <templates> bind in an editable way right now, but if they would this is the function
  				// that's triggered after an edit
  				set: function(id, property, value){
  					console.info("a save was triggered", arguments);
  				},
  				length:100
        };
        this.addNew = function(){
          this.$.datatableCard.addNew();
        };
        this.outputSelectedIds = function(){
          return app.selectedIds.join(', ');
        }
      }
    });
  </script>

</dom-module>
