<dom-module id="forum-add-tema">

  <template>
    <style>
    paper-material {
      padding: 5px;
      margin: 16px auto;
      background-color: #fff;
    }
    paper-button.blue {
      color: var(--paper-light-blue-500);
      --paper-button-flat-focus-color: var(--paper-light-blue-50);
    }
    paper-button.blue:hover {
      background: var(--paper-light-blue-50);
    }  
    .container {
      padding: 5px;
    }
    </style>

    <iron-ajax
        id="ajax"
        url="/api/subsections/{{seccio}}/temas"
        content-type='application/json'
        method="POST"
        on-response="hresponse">
    </iron-ajax>

    <paper-material class="container">

    <paper-input id="title" flex></paper-input>

    <polymer-tinymce id="editor_add"
          tinytoolbar="insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image" 
          tinyplugins='["advlist autolink lists link image charmap print preview anchor","searchreplace visualblocks code fullscreen","insertdatetime media table contextmenu paste"]'>
    </polymer-tinymce>

    <paper-button on-click="add_tema">Crear Tema</paper-button>

    </paper-material>
  </template>

  <script>
    Polymer({
      is: 'forum-add-tema',
      properties: {
        seccio: String
      },
      add_tema: function(){
        content = this.$.editor_add.getContent();
        title = this.$.title.value;
        this.$.ajax.params = {"content":content, "title": title, "date": "2015-11-12"};
        this.$.ajax.body = {"content":content, "title": title, "date": "2015-11-12"};
        this.$.ajax.generateRequest();
        this.$.editor_add.setContent("");
      },
      hresponse: function(request) {
        console.log(request.detail.response);

        app.params = {id: request.detail.response.id};
        document.getElementById("pages").selected = "tema"
      }      
    });
  </script>
</dom-module>
