<dom-module id="portal-app">
  <template>
    <style>
		:host {
		  display: block;
		}

		.nav {
		  border-right: 1px solid #ccc;
		}

		.main {
		  background-color: #eee;
		}

		paper-toolbar {
		  background-color: #42A5F5;
		}

		.content {
		  padding: 0 16px;
		}

		paper-material {
		  height: 400px;
		  max-width: 800px;
		  margin: 16px auto;
		  background-color: #fff;
		}
    </style>
   
    <!-- Main Content -->
    <div class="content">
    	<llistat-noticies></llistat-noticies>
    </div>

  </template>

  <script>
    Polymer({
      is: 'portal-app'
    });
  </script>

</dom-module>
