<dom-module id="crud-user">
  <template>
    <style>
    </style>
    <iron-ajax
        id="ajax"
        auto
        url="/api/Customers"
        content-type='application/json'
        method="GET"
        on-response="hresponse">
    </iron-ajax>
    <iron-ajax
        id="ajax_delete"
        url="/api/Customers/{{id_eliminar}}"
        content-type='application/json'
        method="DELETE"
        on-response="hresponse_delete">
    </iron-ajax>

    <paper-datatable-card id="datatableCard" header="CRUD usuaris" page-size="10" data-source="{{data}}" id-property="i" selected-ids="{{selectedIds}}">
      <div toolbar-main>
      	<paper-icon-button icon="add" on-tap="addNew"></paper-icon-button>
      </div>
      <div toolbar-select>
      	<paper-icon-button icon="delete"></paper-icon-button>
      </div>
      <paper-datatable selectable multi-selection>
        <paper-datatable-column header="Foto">
          <template>
            <div>
              <img src="https://randomuser.me/api/portraits/thumb/men/27.jpg" style="width:32px;height:32px;border-radius:16px;vertical-align: middle;margin-right:4px;">
            </div>
          </template>
        </paper-datatable-column>
        <paper-datatable-column header="Nom" property="nom" tooltip="Nom de l'usuari" editable sortable></paper-datatable-column>
      	<paper-datatable-column header="Cognom" property="cognom" tooltip="Cognom de l'usuari" editable sortable></paper-datatable-column>
      	<paper-datatable-column header="Email" property="email" tooltip="telefon" editable sortable></paper-datatable-column>
        <paper-datatable-column header="telefon" property="telefon" tooltip="telefon" editable sortable></paper-datatable-column>
        <paper-datatable-column header="username" property="username" tooltip="username" editable sortable></paper-datatable-column>
        <paper-datatable-column header="created" property="created" tooltip="created" editable sortable></paper-datatable-column>
      </paper-datatable>
    </paper-datatable-card>
  </template>

  <script>
    Polymer({
      is: 'crud-user',
      properties: {
      },
      _eliminar: function(e){
        this.id_eliminar = e.model.item.id;
        this.$.ajax_delete.generateRequest();
      },
      hresponse: function(request){
        this.datalol = request.detail.response;
        console.log(this.datalol);
      },
      hresponse_delete: function(request){
        console.log(request.detail.response);
      },
      ready: function () {

        this.data = {
          get: function(sort, page, pageSize){
  					return new Promise(function(resolve, reject){
  						var httpRequest = new XMLHttpRequest();
  						httpRequest.onreadystatechange = function() {
  							if (httpRequest.readyState === XMLHttpRequest.DONE) {
  								if (httpRequest.status === 200) {
  									var result = JSON.parse(httpRequest.responseText);
  									resolve(result);
  								}
  							}
  						};
  						httpRequest.open('GET', 'api/Customers');
  						httpRequest.send();
  					});
  				},
  				// none of the <templates> bind in an editable way right now, but if they would this is the function
  				// that's triggered after an edit
  				set: function(id, property, value){
  					console.info("a save was triggered", arguments);
  				},
  				length:100
        };
        this.addNew = function(){
          this.$.datatableCard.addNew();
        };
        this.outputSelectedIds = function(){
          return app.selectedIds.join(', ');
        }




      }
    });
  </script>

</dom-module>
