<dom-module id="admin-forum">
  <template>
    <style>
    :host {
	  display: block;
	}
	paper-material {
	 margin: 16px auto;
	 background-color: #fff;
	}
    .container {
      padding: 20px;
    }
    </style>
   
    <paper-material>
      <paper-tabs selected="{{selected}}">
        <paper-tab>Nova secció</paper-tab>
        <paper-tab>Administra seccions</paper-tab>
        <paper-tab>Administra temes</paper-tab>
      </paper-tabs>

      <iron-pages selected="{{selected}}">
        <div class="container">
       		<admin-add-seccio></admin-add-seccio>
        </div>
        <div class="container">
	        <admin-forum-seccions></admin-forum-seccions>
        </div>
        <div class="container">
        	<admin-forum-temes></admin-forum-temes>
        </div>
      </iron-pages>
    </paper-material>
  </template>

  <script>
    Polymer({
      is: 'admin-forum',
      ready: function(){
        this.selected = 1;
      }
    });
  </script>

</dom-module>
