<dom-module id="noticia-completa">
  <template>
    <style>
		:host {
		  display: block;
		}

		paper-material {
      padding: 10px;
		  height: 400px;
		  margin: 16px auto;
		  background-color: #fff;
		}
		.bar-time {
			display: block;
		    font-size: 0.8rem;
		    letter-spacing: 0.2rem;
		    text-transform: uppercase;
		    color: #999;
		    margin: 0 0 0.5rem 0;
		}
    </style>
   
    <iron-ajax
        auto
        id="ajax"
        url="/api/articles/{{articleid}}"
        content-type='application/json'
        method="GET"
        on-response="hresponse">
    </iron-ajax>
    <paper-material>
    	<div class="bar-time">{{article.date}}</div>
      <h1>{{article.title}}</h1>
      <article>{{article.content}}</article>
    </paper-material>
  </template>

  <script>
    Polymer({
      is: 'noticia-completa',
      properties: {
        articleid: String
      },
      hresponse: function(data) {
      	this.article = data.detail.response;
      }

    });
  </script>

</dom-module>
