<dom-module id="llistat-noticies">
  <template>
    <style>
		:host {
		  display: block;
		}

		paper-material {
		  height: 400px;
		  max-width: 800px;
		  margin: 16px auto;
		  background-color: #fff;
		}
    </style>
    
    <iron-ajax
        auto
        id="ajax"
        url="/api/articles"
        content-type='application/json'
        method="GET"
        on-response="hresponse">
    </iron-ajax>

    <template is="dom-repeat" items="{{articles}}">
      <noticia-view article="{{item}}"></noticia-view>
    </template>

  </template>

  <script>
    Polymer({
      is: 'llistat-noticies',
      hresponse: function (data) {
        this.articles = data.detail.response;
        console.log(data.detail.response);
      }
    });
  </script>

</dom-module>
