<dom-module id="admin-forum-temes">
  <template>
    <style>
    :host {
  	  display: block;
  	}
    .container {
      padding: 20px;
    }
    </style>

    <iron-ajax
        id="ajax"
        auto
        url="/api/temas"
        content-type='application/json'
        method="GET"
        on-response="hresponse">
    </iron-ajax>
  </template>

  <script>
    Polymer({
      is: 'admin-forum-temes',
      properties: {
      },
      hresponse: function(request){
        this.data = request.detail.response;
        this.total = request.detail.response.length;
      },
      ready: function () {
      }
    });
  </script>

</dom-module>
