<dom-module id="forum-categoria">
  <template>
    <style>
      :host {
        display: block;
      }
      .question {
        padding: 20px;
        background: #fff;
      }
      .question h3 {
        margin: 0;
      }
      .question h3 a {
        color: #333;
        text-decoration: none;
      }
      .question h3 a:hover {
        color: #3F51B5;
      }
      .question .user {
        padding-right: 20px;
      }
      .question .user img {
        border-radius: 50%;
      }
      .question .details {
      }
      .question .details p {
        color: #616161;
        margin: 8px 0;
      }
      .question .metadata {
        font-size: 12px;
        color: #BDBDBD;
      }
      .question .metadata a {
        color: #616161;
        border-bottom: 1px solid #eee;
        text-decoration: none;
      }
      .ask-question {
        padding: 20px;
        text-align: center;
      }
      .no_noticies {
        color: white;
        font-size: 20px;
      }
      .nou_tema {
        position: absolute;
        bottom: 30px;
        right: 55px;
      }
    </style>

    <iron-ajax
        id="ajax"
        auto
        url="/api/subsections/{{seccio}}/temas"
        content-type='application/json'
        method="GET"
        on-response="hresponse_seccions">
    </iron-ajax>

    <template is="dom-if" if="{{!mostrar}}" class="layout vertical">
      <div class="flex layout horizontal center">
        <span class="flex"></span>
        <p class="no_noticies">No hi ha cap tema sigues el primer ;)</p>
        <span class="flex"></span>
      </div>
      <div class="flex layout horizontal center">
        <span class="flex"></span>
        <a href="forum/{{seccio}}/add_tema"><paper-fab icon="add"></paper-fab></a>
        <span class="flex"></span>
      </div>
    </template>

    <template is="dom-if" if="{{mostrar}}" class="layout vertical">
        <a href="forum/{{seccio}}/add_tema"><paper-fab class="nou_tema" icon="add"></paper-fab></a>
    </template>

    <template is="dom-repeat" items="{{temas}}">
      <paper-shadow z="1">
        <div class="question">
          <div class="layout horizontal center">
            <div class="user">
              <img width="40" src="../../../img/logo.jpg">
            </div>
            <div class="details flex">
              <h3><a href="tema/{{item.id}}">{{item.title}}</a></h3>
            </div>
            <div class="view">
              <a href="tema/{{item.id}}">
              <paper-icon-button icon="arrow-forward" title="Mirar Tema"></paper-icon-button>
              </a>
            </div>            
          </div>
        </div>
      </paper-shadow>
    </template>

    <!--
    <paper-material>
        <div class="horizontal layout wrap" style="width: 100%">
          <img class="avatar" src="../../../img/logo.jpg">
          <span class="nom_categoria"><b>{{categoria.title}}</b></span>
          <span class="flex"></span>
          <div>
          	<paper-button tabindex="0" raised>Entra</paper-button>
          </div>
        </div>
    </paper-material>
    <forum-sub-categoria categoria="{{categoria}}"></forum-sub-categoria>
    -->
  </template>

  <script>
    Polymer({
      is: 'forum-categoria',
      properties: {
        seccio: String,
        mostrar: Boolean,
        temas: Array,
        categoria: {
        	type: Object
        }
      },
      hresponse_seccions: function(request){
        //console.log(request.detail.response);
        this.temas = request.detail.response;
        this.mostrar = (this.temas.length > 0);
      }
    });
  </script>

</dom-module>
