<dom-module id="add-article">
  <template>
    <style>
		:host {
		  display: block;
		}

		paper-material {
		  height: auto;
		  margin: 16px auto;
		  background-color: #fff;
      padding: 20px;
		}
    </style>
   
    <iron-ajax
        id="ajax"
        url="/api/articles"
        content-type='application/json'
        method="POST"
        on-response="hresponse">
    </iron-ajax>


    <paper-material>

      <!-- titol de l'article -->
      <h4>Titol</h4>
      <div class="vertical-section">
        <paper-input id="titol_article" label=""></paper-input>
      </div>

      <!-- contingut de l'article -->
      <h4>Article</h4>
      <div class="vertical-section">
        <paper-textarea id="text_article" label=""></paper-textarea>
      </div>

      <!-- categories -->
      <paper-tags-input size="medium" enable-remove="true" tags="{{lol}}" placeholder="Entra les categories" empty-error-message="La categoria no pot ser buida" label="Small" > </paper-tags-input>


      <paper-button on-tap="add_article" raised class="flex accio_view_article">Crear article</paper-button>
    </paper-material>

  </template>

  <script>
    Polymer({
      is: 'add-article',
      properties: {
        lol: Array
      },
      ready: function() {
        this.lol = ['lol','asdkda'];
      },
      add_article: function() {
        title = this.$.titol_article.value;
        content = this.$.text_article.value;
        //alert(email);
        //this.$.ajax.url = "http://jsonplaceholder.typicode.com/posts";
        this.$.ajax.params = {"title":title, "content": content, "date": "2015-11-01","category": ["string"]};
        this.$.ajax.body = {"title":title, "content": content, "date": "2015-11-01","category": ["string"]};
        this.$.ajax.generateRequest();
      },
      hresponse: function(data) {
        console.log(data.detail.response);
      }      
    });
  </script>

</dom-module>
