<dom-module id="usuari-registre">
  <template>
    <style>
		:host {
		  display: block;
		}

		paper-material {
		  height: 400px;
		  max-width: 800px;
		  margin: 16px auto;
		  background-color: #fff;
		}
    .container {
      padding: 20px;
    }
    </style>

    <iron-ajax
        id="ajax"
        url="/api/Customers"
        content-type='application/json'
        method="POST"
        on-response="hresponse">
    </iron-ajax>

      <div class="container">
        <div class="vertical layout flex">
          <paper-input id="email" flex label="Email"></paper-input>
          <paper-input id="password" flex label="Password"></paper-input>
          <paper-input id="nom" flex label="Nom"></paper-input>
          <paper-input id="cognom" flex label="Cognom"></paper-input>
          <paper-input id="telefon" flex label="Telefon"></paper-input>
          <paper-input id="username" flex label="Username"></paper-input>

          <paper-button on-tap="_registre">Registre</paper-button>
        </div>
      </div>

  </template>

  <script>
    Polymer({
      is: 'usuari-registre',
      _registre: function() {
        email = this.$.email.value;
        password = this.$.password.value;
        this.$.ajax.body = {
          "email":email,
          "password": password,
          "nom": this.$.nom.value,
          "cognom": this.$.cognom.value,
          "telefon": this.$.telefon.value,
          "username": this.$.username.value
        };
        this.$.ajax.generateRequest();
      },
      hresponse: function(request) {
        alert("yeah! nou costumer registrat");
        console.log(request.detail.response);
        console.log(this.$.ajax.lastResponse);
      }
    });
  </script>

</dom-module>
