<dom-module id="forum-llista-missatges">
  <template>
    <style>
    </style>

    <template is="dom-repeat" items="{{missatges}}">
      <forum-missatge missatge="{{item}}"></forum-missatge>
    </template>

  </template>

  <script>
    Polymer({
      is: 'forum-llista-missatges',
      properties: {
        tema: String
      }    
    });
  </script>

</dom-module>
