<dom-module id="forum-seccions">
  <template>
    <style>
      :host {
        display: block;
      }
      .question {
        padding: 20px;
        background: #fff;
      }
      .question h3 {
        margin: 0;
      }
      .question h3 a {
        color: #333;
        text-decoration: none;
      }
      .question h3 a:hover {
        color: #3F51B5;
      }
      .question .user {
        padding-right: 20px;
      }
      .question .user img {
        border-radius: 50%;
      }
      .question .details {
      }
      .question .details p {
        color: #616161;
        margin: 8px 0;
      }
      .question .metadata {
        font-size: 12px;
        color: #BDBDBD;
      }
      .question .metadata a {
        color: #616161;
        border-bottom: 1px solid #eee;
        text-decoration: none;
      }
      .ask-question {
        padding: 20px;
        text-align: center;
      }
      .seccio{
        background-color: #02E2FF;
      }
    </style>

    <iron-ajax
        id="ajax"
        auto
        url="/api/sections"
        content-type='application/json'
        method="GET"
        on-response="hresponse_seccions">
    </iron-ajax>

    <template is="dom-repeat" items="{{seccions}}">
      <paper-shadow z="1">
        <div class="question seccio">
          <div class="layout horizontal center">
            <div class="user">
              <img width="40" src="../../../img/logo.jpg">
            </div>
            <div class="details flex">
              <h3>{{item.title}}</h3>
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>
      </paper-shadow>
      <forum-categories seccio="{{item.id}}"></forum-categories> 
    </template>

  </template>

  <script>
    Polymer({
      is: 'forum-seccions',
      properties: {
        seccions: {
        	type: Array
        }
      },
      hresponse_seccions: function(request){
        console.log(request.detail.response);
        this.seccions = request.detail.response;
      }
    });
  </script>

</dom-module>
