<dom-module id="admin-add-seccio">
  <template>
    <style>
    :host {
  	  display: block;
  	}
    .container {
      padding: 20px;
    }
    </style>
   
    <iron-ajax
        id="ajax"
        url="/api/sections"
        content-type='application/json'
        method="POST"
        on-response="hresponse">
    </iron-ajax>

    <div class="vertical-section">
      <h4>Titol</h4>
      <paper-input id="title" label=""></paper-input>
      <h4>Descripció</h4>
      <paper-input id="description" label=""></paper-input>
    </div>

    <paper-button on-tap="ad_seccio" raised class="flex">Crear nova secció</paper-button>

  </template>

  <script>
    Polymer({
      is: 'admin-add-seccio',
      ad_seccio: function() {
        title = this.$.title.value;
        description = this.$.description.value;
        this.$.ajax.params = {"title":title, "description": description};
        this.$.ajax.body = {"title":title, "description": description};
        this.$.ajax.generateRequest();
      },
      hresponse: function(data) {
        console.log(data.detail.response);
      }      
    });
  </script>

</dom-module>
